name: "Devops project"
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: copying repository and files inside it to runner
        uses: actions/checkout@v4
      - name: running index.html files
        run: docker build -t devopsimage .
      - name: running  docker container
        run: docker run -d --name devopscontainer -p 8049:80 devopsimage
     
