name: "Devops project"

on:
  push:
    branches:
      - main

jobs:

  build:
    runs-on: self-hosted
    steps:
      - name: copying repository and files inside it to runner
        uses: actions/checkout@v4

      - name: running build image
        run: docker build -t devopsimage .

  test:
    runs-on: self-hosted
    needs: build
    steps:
      - name: running docker container (test)
        run: |
          docker stop devopscontainer || true
          docker rm -f devopscontainer || true
          docker run -d --rm --name devopscontainer -p 8049:80 devopsimage

  deploy:
    runs-on: self-hosted
    needs: test
    steps:
      - name: running container (deploy)
        run: |
          docker stop devopscontainer || true
          docker rm -f devopscontainer || true
          docker run -d --name devopscontainer -p 8049:80 devopsimage

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: pushed images to Docker hub
        run: |

         docker tag devopsimage baranigopal/devopscontainer:v8
         docker push baranigopal/devopscontainer:v8
          
          
     

